$f-size-titulo-principal: 40px;
$f-famili-titulo-principal: Arial, sans-serif;

*{
  line-height: 1.2;
}
.container-margen{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #919191;
}
.titulo{
	float: left;
}
.nav{
	float: right;
}
.nav-ul{
	margin: 0px;
	padding: 0px;
	display: flex;
}
