$f-size-titulo-principal: 40px;
$f-famili-titulo-principal: Arial, sans-serif;
$background-general: #76A0EB;
$background-menu: #3A6121;
$background-menu-hover: lighten($background-menu,10);

*{
  line-height: 1.2;
}
p{
	margin: 0px;
}
.container-margen{
  max-width: 1200px;
  margin: 0 auto;
  background-color: $background-general;
}
.navbar-margen{
	padding: 20px 60px;
	background-color: $background-menu;
}
.titulo{
	float: left;
}
.nav{
	max-width: 700px;
	width: 100%;
	margin-left: 20px;
	float: right;
}
.nav-ul{
	margin: 0px;
	padding: 0px;
	list-style: 0px;
	justify-content: space-around;
	list-style: none;

}
.nav li a{
	color: #FFF;
	text-decoration: none;
	padding: 20px 40px;
	&:hover{
		background-color: $background-menu-hover;
	}
}
.section-total{
	.col{
		width: 33.333%;
		height: 100px;
		float: left;
		margin-left: 5px;
		box-size: border-box;
	}
	.col:nth-child(1){
		background: pink;
	}
	.col:nth-child(2){
		background: red;
	}
	.col:nth-child(3){
		background: blue;
	}
}
