* {
  line-height: 1.2; }

p {
  margin: 0px; }

.container-margen {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #76A0EB; }

.navbar-margen {
  padding: 20px 60px;
  background-color: #3A6121; }

.titulo {
  float: left; }

.nav {
  max-width: 700px;
  width: 100%;
  margin-left: 20px;
  float: right; }

.nav-ul {
  margin: 0px;
  padding: 0px;
  list-style: 0px;
  justify-content: space-around;
  list-style: none; }

.nav li a {
  color: #FFF;
  text-decoration: none;
  padding: 20px 40px; }
  .nav li a:hover {
    background-color: #51872e; }

.section-total .col {
  width: 33.333%;
  height: 100px;
  float: left;
  margin-left: 5px;
  box-size: border-box; }

.section-total .col:nth-child(1) {
  background: pink; }

.section-total .col:nth-child(2) {
  background: red; }

.section-total .col:nth-child(3) {
  background: blue; }
